<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label for="hero-name">Hero name:</label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <div><span>Hero money: </span>{{hero.money}}</div>
    <div *ngFor="let item of hero.item">
      <ul>
        <li>
          <app-item-detail [item]="item" (deleteEvent)="moveToBuyList(item)"></app-item-detail>
        </li>
      </ul>
    </div>
    <button (click)="goBack()">go back</button>
    <button routerLink="/items_to_buy/{{hero.id}}">buy item</button>

</div>
