<h2>My Heroes</h2>
<mat-form-field>
  <mat-label>Sort</mat-label>
  <mat-select  [(value)]="selectedColumn" (selectionChange)="changeSortedColumn()">
    <mat-option *ngFor="let column of displayedColumns" [value]="column">
      {{column}}
    </mat-option>
  </mat-select>
</mat-form-field>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
